body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-color: #f5f5f5;
    text-align: center;
}
body.dark{
    background-color: #000;
    color: #fff;
}
h1{
    text-align: center;
    margin: 0;
    padding: 1rem;
}

a {
    color: #3a8bf0;
    text-decoration: none;
}

p {
    padding : 0.5rem;
}

ul {
    display : flex;
    justify-content: center;
    align-items: stretch;
    list-style: none;
    padding: 0;
}

li {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #3a8bf0;
    color: #fff;
    margin: 0 0.5rem;
    text-align: center;
}

li::before {
    display: block;
    width  : 100%;
    text-align: center;
    font-size: 1.5rem;
}

li.death::before {
    content: '💀';
}

li.survival::before {
    content: '🌊';
}

li.reproduction::before {
    content: '🐣';
}

canvas {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px #ddd;
    background-color: #fff;
}

body.dark canvas {
    border-color: #fff;
    box-shadow: 0 0 5px #fff;
    background-color: #000;
}

label {
    display: flex;
    text-align: right;
    margin: 5px;
}
label input {
    margin-left: 10px;
}
label span {
    min-width:10rem;
    font: 1.2rem sans-serif;
    margin-right : 1rem;
}
input[type="range"] {
    width: 300px;
}

/* make the checkbox input look like a switch */
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width : 50px;
    height: 25px;
    background: #ddd;
    border-radius: 50px;
    position: relative;
    outline: none;
}
input[type="checkbox"]:checked {
    background: #3a8bf0;
}
input[type="checkbox"]:after {
    content: '';
    position: absolute;
    width : 20px;
    height: 20px;
    border-radius: 50%;
    top: 2.5px;
    left: 2.5px;
    background: #fff;
}
input[type="checkbox"]:checked:after {
    right: 2.5px;
    left: unset;
}
/** a small style for the button */
button{
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #3a8bf0;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin: 5px;
}

label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto;
    width: 100%;
    max-width: 600px;
}

label span {
    min-width: 10rem;
    font-size: 1.2rem;
    margin-right: 1rem;
    flex : 1;
    text-align : left;
}

input[type="file"] {
    /** style the file input in a way that it is hidden and the label is shown */
    display: none;
}

label.upload::before {
    content: 'Upload';
    font-size : 1.2rem;
    margin-right: 1rem;
}
label.upload span {
    background-color: #3a8bf0;
    color: #fff;
    padding: 0.5rem 0.1rem;
    border-radius: 5px;
    cursor: pointer;
    flex : 0;
    font-size: 0.8rem;
    margin : 0;
    margin-left : auto;
    text-align : center;
}